<div id="scene">
    <div id="star1"> </div>
    <div id="star2"> </div>
    <div id="star3"> </div>
    <div id="star4"> </div>
    <div id="star5"> </div>
    <div id="star6"> </div>
    <div id="star7"> </div>
    <div id="star8"> </div>
    <div id="star9"> </div>
    <div id="star10"> </div>
    <div id="star11"> </div>

</div>


<div class="space">
    <!-- <div class="ship">
        <div class="ship-rotate">
            <div class="pod"></div>
            <div class="fuselage"></div>
        </div>
    </div>
    <div class="ship-shadow"></div> -->
    <!-- <div class="planet-container container1">
        <div class=" planet" id="planet1">
            <div class="surface" id="santatouine"></div>
        </div>
    </div> -->
    <div class="planet-container container1">
        <div class=" planet" id="planet1">
            <img src="../../../assets/bonnetplanet.png" alt="" id="planet1">
        </div>
    </div>
    <div class="planet-container" id="container2">
        <img src="../../../assets/mercure.png" alt="" class="planet" id="planet2">
    </div>
    <div class="planet-container" id="container3">
        <img src="../../../assets/mars.png" alt="" class="planet" id="planet3">
    </div>
    <div class="planet-container" id="container4">
        <img src="../../../assets/venus.png" alt="" class="planet" id="planet4">
    </div>
    <div class="planet-container" id="container5">
        <img src="../../../assets/terre.png" alt="" class="planet" id="planet5">
    </div>
    <div class="planet-container" id="container6">
        <img src="../../../assets/jupiter.png" alt="" class="planet" id="planet6">
    </div>
    <div class="planet-container" id="container7">
        <img src="../../../assets/saturne.png" alt="" class="planet" id="planet7">
    </div>
    <div class="planet-container" id="container8">
        <img src="../../../assets/uranus.png" alt="" class="planet" id="planet8">
    </div>
    <div class="planet-container" id="container9">
        <img src="../../../assets/neptune.png" alt="" class="planet" id="planet9">
    </div>
    <div class="planet-container" id="container10">
        <a [routerLink]="['/moon']" routerLinkActive="router-link-active" >
            <img src="../../../assets/pluton.png" alt="" class="planet" id="planet10">
        </a>
    </div>

</div>