<div>
  <img
    class="backgroundSanta"
    src="https://www.breakingnews.ie/remote/media.central.ie/media/images/s/SantashouseDec7B_large.jpg"
    alt="Santa house"
    [routerLink]="['/game']"
  />

  <div class="santa">
    <img
      class="scaredSanta"
      src="https://zupimages.net/up/19/51/0o0p.png"
      alt="snow falling"
      [routerLink]="['/game']"
      />
  </div>
  <div class="bubble" [routerLink]="['/game']">
    <div class="bubble-text">

    <p>Oh my god! <br> Ils sont tous partis à l'autre bout de la galaxie. Aide moi à les récupérer, mais attention aux aliens.</p>
  </div>
  </div>
</div>
