<div class="planetImage">
    <img src="https://media.rainpos.com/7774/moon_colony.jpg" alt="">
  </div>
  
  <div class="et1">
    <img src="https://i.postimg.cc/WpysWSTF/et1.png" alt="">
  </div>
  <div class="elf1">
    <img src="https://i.postimg.cc/PqqSLW9h/elf1.png" alt="">
  </div>
  <div class="elf2">
    <img src="https://i.postimg.cc/d3808Tpt/elf2.png" alt="">
  </div>
  <div class="elf3">
    <img src="https://i.postimg.cc/RV8NjKxh/elf3.png" alt="">
  </div>
  <div class="elf4">
    <img src="https://i.postimg.cc/XYj41vpq/elf4.png" alt="">
  </div>
