<img class="backgroundLetters"
     src="https://thumbs.gfycat.com/EnchantingCriminalHairstreakbutterfly-size_restricted.gif"
     alt="snow falling"
     [routerLink]="['/santa']">

<img class="santaLetter"
     src="https://i.pinimg.com/originals/d6/04/09/d60409592a1277fc0b96614495b4a3c2.jpg"
     alt="santa letter"
     [routerLink]="['/santa']">

<p class="elfesLetter" >
  On est parti,<br> on avait besoin de vacances.<br>
  Bon courage, pour la suite.<br>
</p>

<hr>

<p class="ciao"> Ciao!! Les lutins.</p>
